@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

:root {
    --background-color: #1e1e2e;
    --text-color: #89dceb;
    --secondary-text-color: #cdd6f4;
    --hex-color: #b4befe;
    --icon-color: #1e1e2e;
    --pfp-border-color: #f5c2e7;

    --name-bg-color: #1e1e2e;
    --quote-bg-color: #1e1e2e;

    --icon-size: 7vmin;
    --pfp-size: 15vmin;

    --transition-time: 0.25s;

    --clickable-transition: var(--transition-time) linear filter;
    --clickable-filter: brightness(80%);

    --hexagon-constant: calc(tan(30deg) * 100%);
}

@keyframes background-pan {
    from {
        background-position: 0% center;
    }
    to {
        background-position: -200% center;
    }
}

body {
    background: var(--background-color);
    background-size: 200%;
}

#sources {
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: calc(var(--icon-size) / 2);
    left: calc(var(--icon-size) / 2);
}

.source {
    color: var(--text-color);
    text-decoration: none;
    transform: translate(0%, 0%);
    transition: var(--clickable-transition);
}

.source:hover {
    filter: var(--clickable-filter);
}

.source::before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background-color: var(--hex-color);
    mask: url("res/hexagon.svg");
    mask-size: contain;
    -webkit-mask: url("res/hexagon.svg");
    -webkit-mask-size: contain;
}

.source > div {
    background-color: var(--icon-color);
    width: var(--icon-size);
    height: var(--icon-size);
    scale: 65%;
}

#sources > *:nth-child(even) {
    transform: translateY(calc(-1 * var(--hexagon-constant)));
}

#sources > *:nth-child(2n+4) {
    transform: translate(calc(-4 * var(--icon-size)), calc(-2 * var(--hexagon-constant)));
}
#sources > *:nth-child(2n+5) {
    transform: translate(calc(-4 * var(--icon-size)), calc(-3 * var(--hexagon-constant)))
}

#profile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    height: var(--pfp-size);
}

#pfp {
    width: var(--pfp-size);
    height: var(--pfp-size);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--clickable-transition);
    cursor: pointer;
}

#pfp:hover {
    filter: var(--clickable-filter);
}

#pfp > img {
    mask: url("res/hexagon.svg");
    mask-size: contain;
    -webkit-mask: url("res/hexagon.svg");
    -webkit-mask-size: contain;
    width: calc(0.90 * var(--pfp-size));
    height: calc(0.90 * var(--pfp-size));
}

#pfp::before {
    content: "";
    width: var(--pfp-size);
    height: var(--pfp-size);
    display: block;
    position: absolute;
    background-color: var(--pfp-border-color);
    mask: url("res/hexagon.svg");
    mask-size: contain;
    -webkit-mask: url("res/hexagon.svg");
    -webkit-mask-size: contain;
}

#details {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#details div {
    mask: url("res/2xhexagon.svg");
    mask-size: calc(var(--pfp-size) * 2);
    -webkit-mask: url("res/2xhexagon.svg");
    -webkit-mask-size: contain;
    width: calc(var(--pfp-size) * 2);
    height: var(--pfp-size);
    text-align: center;
    line-height: var(--pfp-size);
    font-family: Comfortaa, sans-serif;
}

#name-wrapper {
    position: absolute;
    transform: translateY(calc(-1 * var(--hexagon-constant)));
    background: var(--secondary-text-color);
    transition: var(--clickable-transition);
    cursor: pointer;
}

#name-wrapper:hover {
    filter: var(--clickable-filter);
}

#quote-wrapper {
    transform: translateY(var(--hexagon-constant));
    background: var(--text-color);
    transition: var(--clickable-transition);
    cursor: pointer;
}

#quote-wrapper:hover {
    filter: var(--clickable-filter);
}

#name {
    background: var(--name-bg-color);
    color: var(--text-color);
    scale: 95% 90%;
    font-size: calc(var(--pfp-size) / 3);
}

#quote {
    background: var(--quote-bg-color);
    color: var(--secondary-text-color);
    scale: 95% 90%;
    font-size: calc(var(--pfp-size) / 5);
}
